@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bricolage Grotesque";
}

html {
  background-color: rgb(255, 194, 41)
}

.header-icons {
  background-color: rgb(255, 194, 41);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 3px 3px 0px #000000;
}


.header-icons:hover {
  box-shadow: 1px 1px 0px #000000;
  transition-timing-function: linear;
  transition-duration: 150ms
}


@media (max-width: 640px) {

  /* Mobile screens */
  .header-icons {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}

.profile {
  background-image: url("./assets/plus.svg");
  background-repeat: repeat-y;
  background-position: top 0px left -16px;
  background-attachment: fixed;
}

@media (max-width: 640px) {

  /* Mobile screens */
  .profile {
    background-image: url("./assets/plus.svg");
    background-repeat: repeat-y;
    background-position: top 0px left -140px;
    background-attachment: fixed;
  }
}


/*
.profile h1:hover{
  animation: hover_glow 1s infinite alternate;
}

.profile p:hover{
  animation: hover_glow 1s infinite alternate;
}
*/
.footer-icons {
  background-color: rgb(255, 194, 41);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 3px 3px 0px #000000;
  transition-timing-function: linear;
  transition-duration: 150ms
}

.footer-icons:hover {
  box-shadow: 1px 1px 0px #000000;
  transition-timing-function: linear;
  transition-duration: 150ms
}

.personal {
  background-image: url("./assets/dots.svg");
  background-repeat: repeat-x;
  background-position: top -8px left -16px;
  background-attachment: fixed;
}

.about-icons {
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 2px 2px 0px #000000;
}

.tech {
  background-image: url("./assets/grid.svg");
}


.svg-icon {
  width: 100%;
  /* Fit the width of the parent container */
  height: auto;
  /* Maintain aspect ratio */
  max-width: 100%;
  /* Ensure it doesn't overflow */
  object-fit: contain;
  /* Preserve aspect ratio */
}

.work-grid-bg {
  background-image: url("./assets/grid.svg");
  background-position: top -8px right -16px;
}

.tooltip {}

/* Tooltip text */
.tooltip-obm {
  top: 200px;
  width: 10vh;
  visibility: hidden;
  background-color: mediumpurple;
  color: white;
  text-align: center;
  padding: 5px 0;
  border: 2px solid black;
  box-shadow: 5px 5px 0px #000000;
  display: block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-obm {
  visibility: visible;
}

.tooltip-url {
  top: 200px;
  width: 10vh;
  visibility: hidden;
  background-color: mediumpurple;
  color: white;
  text-align: center;
  padding: 5px 0;
  border: 2px solid black;
  box-shadow: 5px 5px 0px #000000;
  display: block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-url {
  visibility: visible;
}

.project-grid-item {
  box-shadow: 5px 5px 0px #000000;
}

.project-grid-item:hover {
  box-shadow: 2px 2px 2px #000000;
  transition-timing-function: linear;
  transition-duration: 150ms
}

#contact-card {
  background-color: white;
  border: 3px solid black;
  box-shadow: 5px 5px 0px #000000;
}

.rotated {
  transform: rotate(-95deg) scaleX(-1);
  opacity: 0;
}

.star-bg-sm {
  background-image: url("./assets/star.webp");
  background-position: top 40px right 190px;
  background-size: 500px;
  background-repeat: no-repeat;
}
